.contact-container{
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    margin: 10px auto ;
    width: 100%;
}

.contact-info{
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    margin: 1rem auto auto 1.75rem;
    width: 80%;
}

form p a {
    color: rgb(143, 120, 102);
    padding: 5px 0 0 0;
}