<footer class="footer">
    <div class="footer-info">
        <div class="footer-info-card">
            <h5>Events</h5>
            <hr>
            <ul>
                <li><a href="">Groups And Events</a></li>
                <li><a href="">Birthday Parties</a></li>
                <li><a href="">Private Watch Party</a></li>
                <li><a href="">Film Festivals</a></li>
            </ul>
        </div>
        <div class="footer-info-card">
            <h5>About KBC</h5>
            <hr>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-info-card">
            <h5>Contact</h5>
            <hr>
            <ul>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="">Advertise With KBC</a></li>
                <li><a href="">Download The App</a></li>
            </ul>
        </div> 
    </div>
    <div class="social-navbar">
        <p>&copy; 2024 KBCinemas. All rights reserved.</p>
        <ul class="icon-list">
            <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="https://x.com/home?lang=en"><i class="fa-brands fa-x-twitter"></i></a></li>
        </ul>
    </div>
</footer>