{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}
{% load static %}

{% block content %}
<div>
    <h1>Contact</h1>
</div>
<div class="contact-container">
    <div class="contact-info">
        <h3>Thank you for contacting KBCinemas</h3>
        <p>Get in touch with us by email or on social!</p>
        <hr>
        <p>To help us address your concern, please provide any pertinent account details associated with your inquiry and address them to <span style="font-weight: 900; text-decoration:underline;"  >customersupport@regalcinemas.com</span>.
        </p>
        <p>Additionally, you can reach out to us privately on our social media platforms such as Facebook or Twitter.</p>
        <p>Inquiries are responded to within 24-48 hours.</p>
    </div>
</div>



{% endblock content %}